script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/jquery.dataTables.js")
script(src="/javascripts/script.js")

script.
    $(document).ready(function(){
       $('#datatable').DataTable();
    });
