extends layout

block content
    section 
        aside
            .sidebar(id='sidebar')
                .sidebar-menu
                    if devices.length
                        #nestable.dd
                            ol.dd-list
                                li.dd-item
                                    .dd-handle 
                                        img(src='/images/zone.png')
                                        span #{devices[0].zone.zoneId}
                                    ol.dd-list
                                        for device in devices
                                            li.dd-item(data-id= device.deviceId)
                                                .dd-handle 
                                                    img(src='/images/logn3.png')
                                                    span #{device.deviceId}                                               
    .container(id='main-content')
        .row
            .col-lg-12(id='content')
                .row
                    .col-sm-12
                        .pager-header
                            ul.breadcrumb
                                li
                                    i.fa.fa-home
                                    a(href='index.html') dsfasd
                                li asdfadsfa
                            .clearfix 
                                h3.content-title.pull-left asdfadsf
                            .description ??
                .row
                    .col-md-12
                        .box.border.green
                            .box-title
                                h4
                                    i.fa.fa-table  
                                    span sdfasdf
                            .box-body
                                table.display(id='datatable' cellpadding="0" cellspacing="0")
                                    thead
                                        tr
                                            th wang
                                            th zhang
                                    tbody
    

