doctype html
html 
    head 
        title= title 
        meta(name='viewport' content='width=device-width, initial-scale=1')   
        link(rel='stylesheet', href='/stylesheets/cloud-admin.css')   
        link(rel='stylesheet', href='/stylesheets/main.css')  
        link(rel='stylesheet', href='/stylesheets/font-awesome.css') 
        link(rel='stylesheet', href='/stylesheets/jquery.dataTables.css')
    body   
        //HEADER 
        header.navbar.clearfix(id = 'header')  
            .container  
                .navbar-brand  
                    //COMPANY LOGO
                    a.img-responsive(href='index.html')  
                    img(src='/images/logo-sebakmt-megger-en.png')  
                // navbar left  margin: 7.5px -15px; float:left
                ul.nav.navbar-nav.pull-left  
                    li.dropdown      
                        a.team-status-toggle.dropdown-toggle.tip-bottom(href='#' data-toggle='tooltip' title='Team View')  
                            i.fa.fa-users  
                            span Team View  
                    li.dropdown   
                        a.dropdown-toggle(href='#' data-toggle='dropdown')  
                            i.fa.fa-angle-down  
                            span Skin  
        block content
        include footer